# Ignore compiled Python files
*.pyc

# Ignore virtual environment folders
venv/
env/

# Ignore IDE or editor-specific files
.vscode/
.idea/
# Ignore dataset
brandenburg_gate/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
*.whl
*.db*

app/runs/
app/scripts/dataset/*.jpg
app/*.json

.codegpt
1b.json
1br.json
*.jpg
*.bin
*.ini
app/images/1b/image_data.tsv
*.pth
*.zip
*.ckpt
*.png
*.0
